.about-container {
    height: 100vh;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure relative positioning for the nav buttons */
  }
  
  .nav-buttons {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .nav-button {
    background-color: #4a5849;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    border: 0.5px solid #4a5849;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: white;
    border: 0.5px solid #4a5849;
    color: black;
}
  
  .about-container h1 {
    font-size: 2.5em;
    margin-top: 40px; /* Adding top margin to avoid overlap with buttons */
    color: #4CAF50;
  }
  
  .about-container p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  